.form-btn {
  background-color: var(--green);
  color: #fff;
  border: none;
  padding: 0.9rem;
  border-radius: 0.3rem;
  font-size: 0.7rem;
  font-weight: 500;
  width: 100%;
  cursor: pointer;
  margin: 0.3rem auto;
  transition: all 0.2s ease-in-out;
  }


 .form-btn:hover{
    font-weight: 600;
    box-shadow: 0 0 5pt 2pt #D3D3D3;
} 

.disabled{
    background-color: #D3D3D3;
    cursor: not-allowed;
    padding: 0.9rem;
    border-radius: 0.3rem;
    font-size: 0.7rem;
    font-weight: 500;
    width: 100%;
    margin: 0.3rem auto;
}
